*/.classpath
*/.gitignore
*/.project
*/.settings/

.project
.settings/
aggregate-postgres/pom.xml.bkp
postgresql-pom.xml.bkp

aggregate-mysql/.classpath
aggregate-mysql/.project
aggregate-mysql/.settings/org.eclipse.wst.common.component
aggregate-mysql/.settings/org.eclipse.wst.common.project.facet.core.xml
aggregate-postgres/pom.xml
aggregate-src/.classpath
aggregate-src/.project
aggregate-src/.settings/org.eclipse.jdt.core.prefs
odk-gae-it-settings/.classpath
odk-gae-it-settings/.project
odk-gae-settings/.classpath
odk-gae-settings/.project
odk-gae-unit-settings/.classpath
odk-gae-unit-settings/.project
odk-mysql-it-settings/.classpath
odk-mysql-it-settings/.project
odk-mysql-settings/.classpath
odk-mysql-settings/.project
odk-mysql-unit-settings/.classpath
odk-mysql-unit-settings/.project
odk-mysql-unit-settings/.settings/org.eclipse.jdt.core.prefs
odk-postgres-it-settings/.classpath
odk-postgres-it-settings/.project
odk-postgres-settings/.classpath
odk-postgres-settings/.project
odk-postgres-unit-settings/.classpath
odk-postgres-unit-settings/.project
